#menu{
    width: 35px;
    height: 30px;
    margin: 0px 0px 20px 0px;
    padding: 30px;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: block;
}

#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}

.change .bar{
    background-color: green;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2{
    opacity: 0;
}